.sidebar-img {
    object-fit: contain;
    justify-items: center;
}

.sidebar {
    width: 250px;
    min-height: 100vh;
    background: linear-gradient(
        180deg,
        #E89951 0%,
        #6F4E37 100%
    );
}

.sidebar-link {
    color: white;
    text-decoration: none;
    display: flex;
    justify-self: left;
    justify-content: left;
    padding: 12px;
    border-radius: 8px;
}

.sidebar-link:hover {
    display: flex;
    justify-content: left ;
    box-sizing: border-box;
    background-color: #ddad89;
    color: white;
    width: 100%;
}

body {
    background-color: #FFF8E7;
}

.page-tittle{
    color: #8B5E3C;
    font-weight: 500;
}

.stat-card{
    border: none;
    display: flex;
    box-sizing: border-box;
    width: 200px;
    height: 100px;
    border-radius: 15px;
}

.stat-card:hover {
    transform: translateY(-5px);
}

.card-produk {
    background: linear-gradient(
        135deg,
        #ECB65F,
        #8B5E3C
    );
    color: white;
    justify-content: center;
    padding: 10px;
}

.card-transaksi{
    background: linear-gradient(
        135deg,
        #6F4E37,
        #ECB65F
    );
    color: white;
    justify-content: center;
    padding: 10px;
}

.card-penjualan{
    background: linear-gradient(
        135deg,
        #E89951,
        #8B5E3C
    );
    color: white;
    justify-content: center;
    padding: 10px;
}

.card-stok{
    background: linear-gradient(
        135deg,
        #6F4E37,
        #E89951
    );
    color: white;
    justify-content: center;
    padding: 10px;
}

.dashboard-number {
    font-size: 25px;
    font-weight: bold;
}


.dashboard-title {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.card-terlaris {
  background-color: #c8956c !important;
  color: white !important;
}

.card-terlaris .card-header {
  background-color: transparent !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3) !important;
  color: white !important;
}

.card-terlaris .table {
  color: white !important;
  margin-bottom: 0 !important;
  background-color: transparent !important;
}

.card-terlaris .table td {
  border-color: rgba(255, 255, 255, 0.2) !important;
  padding: 0.75rem 1rem;
  color: #c8956c !important;
}

.card-terlaris .table tbody tr:hover td {
  background-color: rgba(255, 255, 255, 0.1) !important;
}