.page-tittle{
    color: #6F4E37;
    font-weight: 700;
    font-size: 32px;
}

.navbar-custom {
    background-color: #ffffff;
    height: 70px;
    border-bottom: 3px solid #C89467;
    padding: 0 25px;
}


.navbar-custom .navbar-brand {
    font-size: 1.4rem;
    font-weight: 700;
    color: #6F4E37;
    letter-spacing: 0.5px;
}


.navbar-custom .navbar-brand:hover {
    color: #A97142;
}

.sidebar-img {
    object-fit: contain;
    justify-items: center;
}

.sidebar {
    width: 250px;
    min-height: 100vh;
    background: linear-gradient(
        180deg,
        #E89951 0%,
        #6F4E37 100%
    );
}

.sidebar-link {
    display: block;
    color: rgba(255,255,255,.8);
    text-decoration: none;
    padding: 12px 15px;
    margin-bottom: 5px;
    border-radius: 10px;
    transition: .3s;
}

.sidebar-link:hover {
    background-color: rgba(255,255,255,.1);
    color: white;
}

.sidebar-link.active {
    background-color: #C89467;
    color: white !important;
    font-weight: 600;
}

body {
    background-color: #FFF8E7;
}

.stat-card{
    border: none;
    display: flex;
    box-sizing: border-box;
    width: 200px;
    height: 100px;
    border-radius: 15px;
}

.stat-card:hover {
    transform: translateY(-5px);
}

.card-produk {
    background: linear-gradient(
        135deg,
        #ECB65F,
        #8B5E3C
    );
    color: white;
    justify-content: center;
    padding: 10px;
}

.card-transaksi{
    background: linear-gradient(
        135deg,
        #6F4E37,
        #ECB65F
    );
    color: white;
    justify-content: center;
    padding: 10px;
}

.card-penjualan{
    background: linear-gradient(
        135deg,
        #E89951,
        #8B5E3C
    );
    color: white;
    justify-content: center;
    padding: 10px;
}

.card-stok{
    background: linear-gradient(
        135deg,
        #6F4E37,
        #E89951
    );
    color: white;
    justify-content: center;
    padding: 10px;
}

.dashboard-number {
    font-size: 25px;
    font-weight: bold;
}


.dashboard-title {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}


.card-terlaris {
    border: none;
    border-radius: 15px;
    overflow: hidden;
}

/* Header Card */
.card-terlaris .card-header {
    background: linear-gradient(
        135deg,
        #C89467,
        #A97142
    ) !important;
    color: white !important;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    padding: 15px;
    border: none;
}

.card-terlaris .table {
    margin-bottom: 0;
}

.card-terlaris .table thead {
    background-color: #F5E6D3;
}

.card-terlaris .table thead th {
    color: #6F4E37;
    font-weight: 700;
    border-bottom: 2px solid #C89467;
    padding-left: 10px;
    padding-right: 10px;
}

.card-terlaris .table td {
    color: #4E342E;
    vertical-align: middle;
    padding: 12px;
    justify-content: left;
}

.card-terlaris .table tbody tr:hover {
    background-color: #FFF3E0;
}

.card-terlaris .table td:last-child {
    font-weight: 600;
    color: #A97142;
}